.main-container {
    background-image: url('/image/herobg.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}
